.form {
    display: grid;
}

.form__header {
    display: flex;
    padding: 10px 30px;
    font-size: 17px;
    line-height: 20px;
    color: var(--highlight-color);
}

.form__actions {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.075em;
    margin: 20px auto;
}